<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gourmet_kitchen.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>15</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>31DAA94577B11FCB304B0EC46DDE2C46B4157D02</string>
				<key>dateExpires</key>
				<string>28/02/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31DAA94577B11FCB304B0EC46DDE2C46B4157D02</string>
						<key>dateExpires</key>
						<string>28/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JUFVKVQVK6</string>
						<key>name</key>
						<string>Intelia Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JUFVKVQVK6.com.intelia.gourmet-kitchen</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JUFVKVQVK6</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>JUFVKVQVK6.com.intelia.gourmet-kitchen</string>
				</array>
			</dict>
			<key>name</key>
			<string>gourmet_kitchen.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8e3dd04c-237e-4146-9e21-43da2482d740</string>
				<key>dateExpires</key>
				<string>16/06/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.intelia.gourmet-kitchen</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JUFVKVQVK6</string>
				<key>name</key>
				<string>Intelia Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.15</string>
		</dict>
	</array>
</dict>
</plist>
